@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1e1e1e;
  /* background-color: rgba(16,16,16,255); */
}
.bluespot {
  z-index: -1;
  position: fixed;
  transition: all 0.3s ease-in-out; /* Optional smooth resize */
}

.button {
  background-color: #009eff;
  transition: all 0.3s ease;
  border: 1px solid #009eff;
}
.button:hover {
  background-color: transparent;
  border: 1px solid #009eff;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 157, 255, 0.662);
}

.secondary {
  color: white;
  background-color: transparent;
  border: 1px solid #009eff;
  box-shadow: 0 5px 15px rgba(0, 157, 255, 0.4); 
  border-radius: 1.5rem; 
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.secondary:hover {
  box-shadow: 0 8px 20px rgba(0, 157, 255, 0.6); 
  transform: translateY(-2px);
  border-color: #009eff; 
}

